@import url(reset.css);
.head__icons {
  color: #8B79B1;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  overflow: hidden;
  padding-bottom: 5px;
}
.header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 50px;
}
.header .head .head__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  gap: 50px;
}
.header .head .head__info .head__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header .head .head__info .head__content .head__content_text {
  font-size: 15px;
  font-weight: 400;
  color: gray;
}
.header .head .head__info .head__content .head__content_text dt {
  padding-bottom: 5px;
}
.header .head .head__info .head__content .head__content_text dd {
  padding-bottom: 5px;
}
.header .head .head__info .head__content .head__content_text span {
  vertical-align: super;
  font-size: 12px;
}
.header .head .head__boton {
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.header .head .head__boton:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}
.header .head .head__boton .head__btn {
  font-size: 20px;
  color: rgb(3, 1, 1);
  -webkit-transition: 1s all;
  transition: 1s all;
}
.header .menu {
  background: rgb(255, 255, 255);
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), color-stop(21%, rgb(139, 121, 177)), color-stop(51%, rgb(139, 121, 177)), color-stop(81%, rgb(139, 121, 177)), to(rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(139, 121, 177) 21%, rgb(139, 121, 177) 51%, rgb(139, 121, 177) 81%, rgb(255, 255, 255) 100%);
}
.header .menu .menu__navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  gap: 40px;
}
.header .menu .menu__navigations li {
  padding: 0px 10px 0px 10px;
}
.header .menu .menu__navigations .menu__navigations_items-katalog:hover .menu__navigations_items-sub {
  display: block;
}
.header .menu .menu__navigations .menu__navigations_items-katalog .menu__navigations_items-sub {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #fff;
  list-style: none;
  position: fixed;
  display: none;
}
.header .menu .menu__navigations .menu__navigations_items-katalog .menu__navigations_items-sub li {
  padding: 10px 40px 10px 10px;
  color: #000;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}
.header .menu .menu__navigations .menu__navigations_items-katalog .menu__navigations_items-sub li:hover {
  background-color: #8B79B1;
}
.header .menu .menu__navigations .menu__navigations_items-katalog .menu__navigations_items-sub li a {
  color: #000;
  font-weight: 400;
}
.header .menu .menu__navigations .menu__navigations_items-info:hover .menu__navigations_items-sub {
  display: block;
}
.header .menu .menu__navigations .menu__navigations_items-info .menu__navigations_items-sub {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #fff;
  list-style: none;
  position: fixed;
  display: none;
}
.header .menu .menu__navigations .menu__navigations_items-info .menu__navigations_items-sub li {
  padding: 10px 40px 10px 10px;
  color: #000;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}
.header .menu .menu__navigations .menu__navigations_items-info .menu__navigations_items-sub li:hover {
  background-color: #8B79B1;
}
.header .menu .menu__navigations .menu__navigations_items-info .menu__navigations_items-sub li a {
  color: #000;
  font-weight: 400;
}
.header .menu .menu__navigations .menu__navigations_items-axe:hover .menu__navigations_items-sub {
  display: block;
}
.header .menu .menu__navigations .menu__navigations_items-axe .menu__navigations_items-sub {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #fff;
  list-style: none;
  position: fixed;
  display: none;
}
.header .menu .menu__navigations .menu__navigations_items-axe .menu__navigations_items-sub li {
  padding: 10px 40px 10px 10px;
  color: #000;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}
.header .menu .menu__navigations .menu__navigations_items-axe .menu__navigations_items-sub li:hover {
  background-color: #8B79B1;
}
.header .menu .menu__navigations .menu__navigations_items-axe .menu__navigations_items-sub li a {
  color: #000;
  font-weight: 400;
}
.header .menu .menu__navigations_items-katalog_a {
  color: rgb(255, 254, 254);
  font-size: 25px;
  font-weight: bold;
}

.menu__active {
  background-color: #fff;
}
.menu__active .menu__active_a {
  color: #8B79B1;
  font-size: 25px;
  font-weight: bold;
}

.rent .rent__questions {
  font-size: 20px;
  font-weight: bold;
}
.rent .rent__questions p {
  -webkit-transition: all 2s;
  transition: all 2s;
}
.rent .rent__questions .rent__questions_text {
  font-size: 15px;
  font-weight: 400;
}

summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: url(../img/svg/question.svg);
}

details[open] > summary:before {
  content: url(../img/svg/info.svg);
}

.catalog__size .catalog__size_wrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 25% 0px 25% 0px 25% 0px 25%;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 40px 0px;
}
.catalog__size .catalog__size_wrapper .catalog__size_img {
  -webkit-transition: all 1s;
  transition: all 1s;
}
.catalog__size .catalog__size_wrapper .catalog__size_img:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-box-shadow: 5px 5px 5px #8B79B1;
          box-shadow: 5px 5px 5px #8B79B1;
}

.catalog__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/jpg/girlingreen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  height: 400px;
}
.catalog__promo .title__catalog {
  color: #fff;
}

.wedding__catalog {
  text-align: center;
}

.pregnant__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.accses__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  margin-top: 123px;
}

.conteiner {
  max-width: 1300px;
  padding: 0px 10px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 60px;
  font-weight: 400;
  padding: 50px 0;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 50px;
  font-weight: 400;
  padding: 50px 0;
}

.promo .promo__img {
  width: 100%;
}

.promoKatalog {
  text-align: center;
}
.promoKatalog .promoKatalog__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promoKatalog .promoKATALOG__IMG {
  width: 300px;
}

.footer {
  background-color: #8B79B1;
  margin-top: 40px;
}
.footer .footer__title {
  padding: 10px 0;
  font-size: 22px;
  text-align: start;
  color: #fff;
  text-decoration: underline;
}
.footer .footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 5px;
}
.footer .footer_wrapper .footer__info_text {
  width: 400px;
  list-style-type: none;
  color: #fff;
  padding-bottom: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.footer .footer_wrapper .footer__info_text .footer__info_text-link:hover {
  font-weight: bold;
}

.benefits .benefits__img {
  margin-top: 20px;
  width: 100%;
}

.polosa {
  text-align: center;
  background: rgb(139, 121, 177);
  background: -webkit-gradient(linear, left top, right top, from(rgb(139, 121, 177)), color-stop(21%, rgb(111, 97, 142)), color-stop(51%, rgb(111, 97, 142)), color-stop(81%, rgb(111, 97, 142)), to(rgb(139, 121, 177)));
  background: linear-gradient(90deg, rgb(139, 121, 177) 0%, rgb(111, 97, 142) 21%, rgb(111, 97, 142) 51%, rgb(111, 97, 142) 81%, rgb(139, 121, 177) 100%);
}
.polosa .polosa__p {
  padding: 5px 0;
  font-size: 15px;
  color: #fff;
}

.stock__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stock__wrapper .stock__text {
  padding-top: 30px;
  max-width: 350px;
}