@import url(reset.css);
.head__icons {
  color: #8B79B1;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  overflow: hidden;
}
.header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 50px;
}
.header .head .test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .head .head__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  gap: 50px;
}
.header .head .head__info .head__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header .head .head__info .head__content .head__content_text {
  font-size: 15px;
  font-weight: 400;
  color: gray;
}
.header .head .head__info .head__content .head__content_text dt {
  padding-bottom: 5px;
}
.header .head .head__info .head__content .head__content_text dd {
  padding-bottom: 5px;
}
.header .head .head__info .head__content .head__content_text span {
  vertical-align: super;
}
.header .head .head__boton {
  text-align: center;
}
.header .head .head__boton .head__btn {
  font-size: 20px;
  color: rgb(3, 1, 1);
  -webkit-transition: 1s color;
  transition: 1s color;
}
.header .head .head__boton .head__btn:hover {
  color: #8d15dd;
}
.header .menu {
  background-color: #8B79B1;
}
.header .menu .menu__navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  gap: 40px;
}
.header .menu .menu__navigations li {
  padding: 5px 5px 0px 5px;
}
.header .menu .menu__navigations .menu__navigations_items-katalog:hover .menu__navigations_items-sub {
  display: block;
}
.header .menu .menu__navigations .menu__navigations_items-katalog .menu__navigations_items-sub {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #fff;
  list-style: none;
  position: fixed;
  display: none;
}
.header .menu .menu__navigations .menu__navigations_items-katalog .menu__navigations_items-sub li {
  padding: 10px 40px 10px 10px;
  color: #000;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}
.header .menu .menu__navigations .menu__navigations_items-katalog .menu__navigations_items-sub li:hover {
  background-color: #8B79B1;
}
.header .menu .menu__navigations .menu__navigations_items-katalog .menu__navigations_items-sub li a {
  color: #000;
  font-weight: 400;
}
.header .menu .menu__navigations .menu__navigations_items-info:hover .menu__navigations_items-sub {
  display: block;
}
.header .menu .menu__navigations .menu__navigations_items-info .menu__navigations_items-sub {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #fff;
  list-style: none;
  position: fixed;
  display: none;
}
.header .menu .menu__navigations .menu__navigations_items-info .menu__navigations_items-sub li {
  padding: 10px 40px 10px 10px;
  color: #000;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}
.header .menu .menu__navigations .menu__navigations_items-info .menu__navigations_items-sub li:hover {
  background-color: #8B79B1;
}
.header .menu .menu__navigations .menu__navigations_items-info .menu__navigations_items-sub li a {
  color: #000;
  font-weight: 400;
}
.header .menu .menu__navigations .menu__navigations_items-axe:hover .menu__navigations_items-sub {
  display: block;
}
.header .menu .menu__navigations .menu__navigations_items-axe .menu__navigations_items-sub {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #fff;
  list-style: none;
  position: fixed;
  display: none;
}
.header .menu .menu__navigations .menu__navigations_items-axe .menu__navigations_items-sub li {
  padding: 10px 40px 10px 10px;
  color: #000;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}
.header .menu .menu__navigations .menu__navigations_items-axe .menu__navigations_items-sub li:hover {
  background-color: #8B79B1;
}
.header .menu .menu__navigations .menu__navigations_items-axe .menu__navigations_items-sub li a {
  color: #000;
  font-weight: 400;
}
.header .menu a {
  color: rgb(255, 254, 254);
  font-size: 20px;
  font-weight: bold;
}

.menu__active {
  background-color: #8d15dd;
}

.rent {
  text-align: center;
}
.rent .rent__info {
  text-align: start;
}
.rent .rent__info .rent__info_text {
  font-size: 20px;
  color: gray;
  padding-bottom: 10px;
}

.catalog__size .catalog__size_wrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 30% 0px 30% 0px 30%;
  grid-template-columns: 30% 30% 30%;
  gap: 40px 0px;
}
.catalog__size .catalog__size_wrapper .catalog__size_img {
  width: 300px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.catalog__size .catalog__size_wrapper .catalog__size_img:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
  -webkit-box-shadow: 10px 5px 5px grey;
          box-shadow: 10px 5px 5px grey;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
}

main {
  margin-top: 123px;
}

.conteiner {
  max-width: 1300px;
  padding: 0px 10px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 60px;
  font-weight: 400;
  padding: 50px 0;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 50px;
  font-weight: 400;
  padding: 50px 0;
}

.promo .promo__img {
  width: 100%;
}

.promoKatalog {
  text-align: center;
}
.promoKatalog .promoKatalog__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 20px 25% 20px 25% 20px 25%;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 20px;
}
.promoKatalog .promoKATALOG__IMG {
  width: 300px;
}

.footer {
  background-color: #8B79B1;
  margin-top: 40px;
  padding: 30px 0;
}
.footer .foot__text {
  color: #fff;
  margin-bottom: 10px;
}

.benefits .benefits__img {
  margin-top: 20px;
  width: 100%;
}