.catalog__size {
   
    .catalog__size_wrapper {
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 40px 0px;    
        .catalog__size_img {
            
            transition: all 1s;
            &:hover {
                transform: scale(110%);
                box-shadow: 5px 5px 5px #8B79B1;
            }
        }
      }
    
}