.catalog__size {
   
    .catalog__size_wrapper {
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 25% 25% 25% 25%;
        gap: 40px 0px;    
        .catalog__size_img {
            transition: all 1s;
            &:hover {
                transform: scale(110%);
                box-shadow: 5px 5px 5px #8B79B1;
            }
        }
      }
    
}
.catalog__promo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(../img/jpg/girlingreen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    height: 400px;
     .title__catalog {
        color: #fff;
     }
}
.wedding__catalog {
    text-align: center;
}
.pregnant__catalog{
    display: flex;
    justify-content: space-around;
}

.accses__catalog{
    display: flex;
    justify-content: space-around;
}
