.rent {
    text-align: center;
    .rent__info {
        text-align: start;
        .rent__info_text {
            font-size: 20px;
            color: gray;
            padding-bottom: 10px;
        }
    }
}