.rent {
    text-align: center;
   
    .rent__title {
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 30px 0;
    }
    .rent__info {
        text-align: start;
        .rent__info_text {
            font-size: 20px;
            color: gray;
            padding-bottom: 10px;
        }
    }
}