.rent {
    margin: 162px 0;
   .rent__questions {
    font-size: 20px;
    font-weight: bold;  
    p {
        transition: all 2s;
    }
    .rent__questions_text{
        font-size: 15px;
        font-weight: 400;
    }
   }
}
summary {
    display: flex;
    align-items: center;
  }
  
    summary::-webkit-details-marker {
    display: none;
  }
  summary::before {
    content: url(../img/svg/question.svg);
  }
  details[open] > summary:before {
    content: url(../img/svg/info.svg);
  }
  
    