@mixin sub {
    background-color: #fff;
          list-style: none;
          position: fixed;
          display: none;
           li {
              padding: 10px 40px 10px 10px;
              color: #000;
              transition: 1.5s all;
              &:hover {
                background-color: #8B79B1;
              }
               a{
                  color: #000;
                  font-weight: 400;
                  
               }
           }
        }
        .head__icons {
          color: #8B79B1;
        }
        .header {
            position:fixed ;
            top: 0; 
            width: 100%; 
            background-color: #fff;
            z-index: 99;
            overflow: hidden;
            .head {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 5px 50px;
              
              .head__info {
                  display: flex;
                  justify-content: space-between;
                  list-style-type: none;
                  gap: 50px;
                  .head__content {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      gap: 20px;
                      
                      .head__content_text {
                          font-size: 15px;
                          font-weight: 400;
                          color: gray;
                           dt {
                            padding-bottom: 5px;
                           }
                           dd {
                            padding-bottom: 5px;
                           }
                          span {
                              vertical-align: super;
                              font-size: 12px;
                          }
                          
                      }
                  }
              }
              .head__boton {
                text-align: center;
               
                .head__btn{
                  font-size: 20px;
                  color: rgb(3, 1, 1);
                  transition: 1s color;
                  &:hover {
                    color: #8d15dd;
                  }
                  
          
              }
              }
             
            }
            .menu {
              
              background-color: #8B79B1;
            .menu__navigations{
              display: flex;
              position: relative;
              justify-content: center;
              list-style-type: none;
              gap: 40px;
              li {
                padding: 0px 10px 0px 10px;
              }
          .menu__navigations_items-katalog{
            
                &:hover {
                  .menu__navigations_items-sub {
                    display: block;
                  
                  }
                }
          .menu__navigations_items-sub {
            transition: 0.5s all;
                  @include sub;
                 }
              }
              
          .menu__navigations_items-info{
                &:hover {
                  .menu__navigations_items-sub {
                   display: block;
                  }
                }
          .menu__navigations_items-sub {
            transition: 0.5s all;
                  @include sub;
                 }
              }
          
              .menu__navigations_items-axe{
                &:hover {
                  .menu__navigations_items-sub {
                    display: block;
                  }
                }
          .menu__navigations_items-sub {
            transition: 0.5s all;
                  @include sub;
                 }
                }
             }
            .menu__navigations_items-katalog_a{
                  color: rgb(255, 254, 254);
                  font-size: 25px;
                  font-weight: bold;
                  

          }
            }
          }
          .menu__active {
          background-color:#fff;
          .menu__active_a{
          color: #8B79B1; 
          font-size: 25px;
          font-weight: bold;
          
          }  
          }