@import url(reset.css);
@import "menuhead";
@import "info";
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  } 
  a {
    color:inherit;
    text-decoration: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
  }
  main {
    margin-top: 150px;
  }
  .conteiner {
    max-width: 1300px;
    padding: 0px 10px;
    margin: 0 auto;
  }
 
  .promo {
    .promo__img {
        width: 100%;
    }
  }
  .promoKatalog {
    text-align: center;
    .promoKatalog__wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 20px;
}
.promoKatalog_title {
    font-size: 60px;
    font-weight: 400px;
    padding: 50px 0;

}
    .promoKATALOG__IMG {
        width: 300px;
    } 
   
}


.footer {
  background-color: rgb(60, 5, 110);
  margin-top: 40px;
  padding: 30px 0;
  .foot__text {
    color: #fff;
    margin-bottom: 10px;
  }
}