@import url(reset.css);
@import "menuhead";
@import "info";
@import "catalog";
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  } 
  a {
    color:inherit;
    text-decoration: none;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
  }
  main {
    margin-top: 123px;
  }
  .conteiner {
    max-width: 1300px;
    padding: 0px 10px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 60px;
    font-weight: 400;
    padding: 50px 0;
    text-transform: uppercase;
}
h2 {
  text-align: center;
    font-family: 'EB Garamond', serif;
      font-size: 50px;
      font-weight: 400;
      padding: 50px 0;
} 
  .promo {
    
    .promo__img {
      width: 100%;
    }
  }
  .promoKatalog {
    text-align: center;
    .promoKatalog__wrapper{
     display: flex;
     justify-content: space-between;
    }
    .promoKATALOG__IMG {
        width: 300px;
    } 
   
}


.footer {
 background-color: #8B79B1;
  margin-top: 40px;
  .footer__title {
    padding: 20px 0;
    font-size: 30px;
    text-align: start;
    color:#fff;
    text-decoration: underline;
  }
 .footer_wrapper {
  display: flex;
  justify-content: space-between;
  .footer__info_text{
    list-style-type: none;
    color:#fff;
    padding-bottom: 5px;
    transition: all 1s;
    .footer__info_text-link {
      &:hover {
        font-weight: bold;
      }
    }
  }
 }
}
.benefits {

 .benefits__img {
  margin-top: 20px;
  width: 100%;
 }  
}
.polosa {
  text-align: center;
  background: linear-gradient(90deg, rgba(139,121,177,0.38139005602240894) 6%, rgba(205,19,224,1) 51%, rgba(139,121,177,1) 94%);
}