<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dress Me</title>
        <link rel="icon" href="./img/svg/logo-5.svg">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="https://kit.fontawesome.com/10616a0a99.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            
            <div class="head">
                <a href="index.html"><img class="head__logo" src="./img/svg/logo-5.svg" alt="logo"> </a>
               <ul class="head__info">
                <li class="head__content">
                    <span class="head__icons">
                        <i class="fa-solid fa-pen-to-square fa-3x"></i>
                    </span>
                    <dl class="head__content_text">
                        <dt> Работаем c 11 <span>00</span>до 19 <span>30</span></dt>
                        <dd>по предварительной записи</dd>
                    </dl>
                </li>
                <li class="head__content">
                    <span class="head__icons">
                        <i class="fa-solid fa-location-dot fa-3x"></i>
                    </span>
                    <dl class="head__content_text">
                        <dt>г.Владимир </dt>
                        <dd>остановка ВлГУ</dd>
                    </dl>
                </li>
               </ul>
                <div class="head__boton">
                    <a href="#" class="head__btn">
                    <span class="head__icons"> <i class="fa-brands fa-vk fa-3x"></i></span>
                        <p>Записаться</p>
                    </a>
                </div>
              
            
        
        </div>
        <div class="menu">
                <div class="conteiner"> 
                    <div class="menu" id="app-menu">
                
                    <ul class="menu__navigations">
                    <li class="menu__navigations_items-katalog menu__active"><a class='menu__active_a' href="Catalog.html">КАТАЛОГ</a>
                    <ul class="menu__navigations_items-sub">
                        <li v-for="item in itemKatalogs" ><a :href="item.link">{{item.itemKatalog}}</a></li>
                    </ul>
                    </li>
                    <li class="menu__navigations_items-axe"><a class='menu__navigations_items-katalog_a' href="#">АКСЕССУАРЫ</a>
                        <ul class="menu__navigations_items-sub">
                            <li v-for="item in itemAxes" ><a :href="item.link">{{item.itemAxe}}</a></li>
                        </ul>
                    </li>
                    <li class="menu__navigations_items"><a class='menu__navigations_items-katalog_a' href="#">ДЛЯ БЕРЕМЕННЫХ</a></li>
                    <li class="menu__navigations_items-info"><a class='menu__navigations_items-katalog_a' href="Info.html">ИНФОРМАЦИЯ</a>
                        <ul class="menu__navigations_items-sub">
                            <li v-for="item in itemInfos" ><a :href="item.link">{{item.itemInfo}}</a></li>
                        </ul>
                    </li>
                    <li class="menu__navigations_items"><a class='menu__navigations_items-katalog_a' href="#">АКЦИИ</a></li>
                    </ul>
                    </div>
            </div>
        </header>
        <main>
         <h1 class="title__catalog">Каталог</h1>
         <section class="catalog__size">
            <div class="conteiner">
                <div class="catalog__size_wrapper">
            <a href="https://vk.com/market-146634571?section=album_29" class="catalog__size_link" target="_blank"><img src="img/webp/XXs-XS.webp" alt="xxs-xs" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_28" class="catalog__size_link" target="_blank"><img src="img/webp/s.webp" alt="s" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_30" class="catalog__size_link" target="_blank"><img src="img/webp/M.webp" alt="m" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_31" class="catalog__size_link" target="_blank"><img src="img/webp/L.webp" alt="l" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_32" class="catalog__size_link" target="_blank"><img src="img/webp/XL.webp" alt="xl" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_33" class="catalog__size_link" target="_blank"><img src="img/webp/XXl-3XL.webp" alt="-xxl-3xl" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_34" class="catalog__size_link" target="_blank"><img src="img/webp/body.webp" alt="body" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_1" class="catalog__size_link" target="_blank"><img src="img/webp/Penuars.webp" alt="penuars" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_4" class="catalog__size_link" target="_blank"><img src="img/webp/history.webp" alt="history dress" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_5" class="catalog__size_link" target="_blank"><img src="img/webp/not_dress.webp" alt="not a dress" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_35" class="catalog__size_link" target="_blank"><img src="img/webp/acx.webp" alt="acssesuar" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_36" class="catalog__size_link" target="_blank"><img src="img/webp/hand_and_head.webp" alt="hanf and head" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_37" class="catalog__size_link" target="_blank"><img src="img/webp/cloak.webp" alt="cloak" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_7" class="catalog__size_link" target="_blank"><img src="img/webp/children.webp" alt="children" class="catalog__size_img"></a>
            <a href="https://vk.com/market-146634571?section=album_21" class="catalog__size_link" target="_blank"><img src="img/webp/pregnant.webp" alt="pregnant" class="catalog__size_img"></a>
            </div>
            </div>
         </section>
        </main>
        <footer class="footer">
                <div class="conteiner">
                 <div class="footer_wrapper">
                    <dl class="foot__text">
                        <dt>Работаем c 11 <span>00</span>до 19 <span>30</span></dt>
                        <dd>по предварительной записи</dd>
                    </dl>
                    <dl class="foot__text">
                        <dt>г.Владимир </dt>
                        <dd>остановка ВлГУ</dd>
                    </dl>
                 </div>
                </div>
            </footer>
            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/app.js"></script>

    </body>