<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dress Me</title>
        <link rel="icon" href="./img/svg/logo-5.svg">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script src="https://kit.fontawesome.com/10616a0a99.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            
                <div class="head">
                    <a href="index.html"><img class="head__logo" src="./img/svg/logo-5.svg" alt="logo"> </a>
                   <ul class="head__info">
                    <li class="head__content">
                        <span class="head__icons">
                            <i class="fa-solid fa-pen-to-square fa-3x"></i>
                        </span>
                        <dl class="head__content_text">
                            <dt> Работаем c 11 <span>00</span>до 19 <span>30</span></dt>
                            <dd>по предварительной записи</dd>
                        </dl>
                    </li>
                    <li class="head__content">
                        <span class="head__icons">
                            <i class="fa-solid fa-location-dot fa-3x"></i>
                        </span>
                        <dl class="head__content_text">
                            <dt>г.Владимир </dt>
                            <dd>остановка ВлГУ</dd>
                        </dl>
                    </li>
                   </ul>
                    <div class="head__boton">
                        <a href="#" class="head__btn">
                        <span class="head__icons"> <i class="fa-brands fa-vk fa-3x"></i></span>
                            <p>Записаться</p>
                        </a>
                    </div>
                  
                
            
            </div>
            <div class="menu">
                    <div class="conteiner"> 
                        <div class="menu" id="app-menu">
                    
                        <ul class="menu__navigations">
                        <li class="menu__navigations_items-katalog"><a href="Catalog.html">КАТАЛОГ</a>
                        <ul class="menu__navigations_items-sub">
                            <li v-for="item in itemKatalogs" ><a :href="item.link">{{item.itemKatalog}}</a></li>
                        </ul>
                        </li>
                        <li class="menu__navigations_items-axe"><a href="#">АКСЕССУАРЫ</a>
                            <ul class="menu__navigations_items-sub">
                                <li v-for="item in itemAxes" ><a :href="item.link">{{item.itemAxe}}</a></li>
                            </ul>
                        </li>
                        <li class="menu__navigations_items-info"><a href="Info.html">ИНФОРМАЦИЯ</a>
                            <ul class="menu__navigations_items-sub">
                                <li v-for="item in itemInfos" ><a :href="item.link">{{item.itemInfo}}</a></li>
                            </ul>
                        </li>
                        <li class="menu__navigations_items"><a href="#">ДЛЯ БЕРЕМЕННЫХ</a></li>
                        <li class="menu__navigations_items"><a href="#">АКЦИИ</a></li>
                        </ul>
                        </div>
                </div>
            </header>
            <main>
            <section class="promo">
              <img src="./img/jpg/Untitled Project (3).jpg" alt="dress" class="promo__img">
            </section>
            <section class="promoKatalog">
            <div class="conteiner">
                
                    <h2 class="promoKatalog_title">Популярные категории</h2>
                    <div class="promoKatalog__wrapper">
                    <img src="./img/jpg/untitleddesign_1_original-3.jpg" alt="" class="promoKATALOG__IMG">
                    <img src="./img/jpg/untitleddesign_1_original-4.jpg" alt="" class="promoKATALOG__IMG" >
                    <img src="./img/jpg/untitleddesign_1_original-5.jpg" alt="" class="promoKATALOG__IMG" >
                    <img src="./img/jpg/untitleddesign_1_original.jpg" alt="" class="promoKATALOG__IMG" >
                
                    </div>
            </div>
            </section>
            <sectin class="benefits">
                
                <img src="./img/jpg/Untitled Project (1).jpg" alt="dress" class="benefits__img">
            
            </sectin>
            </main>
            <footer class="footer">
                <div class="conteiner">
                 <div class="footer_wrapper">
                    <dl class="foot__text">
                        <dt>Работаем c 11 <span>00</span>до 19 <span>30</span></dt>
                        <dd>по предварительной записи</dd>
                    </dl>
                    <dl class="foot__text">
                        <dt>г.Владимир </dt>
                        <dd>остановка ВлГУ</dd>
                    </dl>
                 </div>
                </div>
            </footer>
            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/app.js"></script>
        
    </body>
</html>