<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Info</title>
        <link rel="icon" href="../img/svg/logo-5.svg">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <script src="https://kit.fontawesome.com/10616a0a99.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        
    <body>
        <header class="header">
            
                <div class="head">
                    <a href="../index.html"><img class="head__logo" src="../img/svg/logo-5.svg" alt="logo"> </a>
                   <ul class="head__info">
                    <li class="head__content">
                        <span class="head__icons">
                            <i class="fa-solid fa-pen-to-square fa-3x"></i>
                        </span>
                        <dl class="head__content_text">
                            <dt>Работаем c 11 <span>00</span> до 19 <span>30</span></dt>
                            <dd>по предварительной записи</dd>
                        </dl>
                    </li>
                    <li class="head__content">
                        <span class="head__icons">
                            <i class="fa-solid fa-location-dot fa-3x"></i>
                        </span>
                        <dl class="head__content_text">
                            <dt>г.Владимир</dt>
                            <dd>остановка ВлГУ</dd>
                        </dl>
                    </li>
                   </ul>
                    <div class="head__boton">
                        <a href="https://vk.me/dressme33" class="head__btn">
                            <span class="head__icons"> <i class="fa-brands fa-vk fa-3x"></i></span>
                            <p>Записаться</p>
                        </a>
                    </div>
                  
                </div>
               
            
            <div class="menu">
                    <div class="conteiner"> 
                        <div class="menu_nav" id="app-menu">
                    
                            <ul class="menu__navigations">
                                <li class="menu__navigations_items-katalog "><a class='menu__navigations_items-katalog_a' href="Catalog.html">КАТАЛОГ</a>
                                <ul class="menu__navigations_items-sub">
                                    <li v-for="item in itemKatalogs" ><a :href="item.linkOtherPage">{{item.itemKatalog}}</a></li>
                                </ul>
                                </li>
                                <li class="menu__navigations_items-axe menu__active"><a class='menu__active_a' href="accses.html">АКСЕССУАРЫ</a>
                                    <ul class="menu__navigations_items-sub">
                                        <li v-for="item in itemAxes" ><a :href="item.link">{{item.itemAxe}}</a></li>
                                    </ul>
                                </li>
                                <li class="menu__navigations_items "><a class='menu__navigations_items-katalog_a' href="forPregnant.html">ДЛЯ БЕРЕМЕННЫХ</a></li>
                                <li class="menu__navigations_items-info "><a class='menu__navigations_items-katalog_a' href="Info.html">ИНФОРМАЦИЯ</a>
                                    <ul class="menu__navigations_items-sub">
                                        <li v-for="item in itemInfos" ><a :href="item.link">{{item.itemInfo}}</a></li>
                                    </ul>
                                </li>
                                <li class="menu__navigations_items"><a class='menu__navigations_items-katalog_a' href="#">АКЦИИ</a></li>
                                </ul>
                        </div>
                </div>
            </header>
          <main>
            <section class="catalog__promo">
                <h1 class="title__catalog">Акссесуары</h1>
            </section>
            <section>
                <div class="conteiner">
                    <div class="accses__catalog">
                <a href="https://vk.com/market-146634571?section=album_35" class="catalog__size_link" target="_blank"><img src="../img/webp/acx.webp" alt="Акссесуары" class="catalog__size_img"></a>
                <a href="https://vk.com/market-146634571?section=album_36" class="catalog__size_link" target="_blank"><img src="../img/webp/hand_and_head.webp" alt="перчатки и шляпки" class="catalog__size_img"></a>
                <a href="https://vk.com/market-146634571?section=album_37" class="catalog__size_link" target="_blank"><img src="../img/webp/cloak.webp" alt="Плащи" class="catalog__size_img"></a>
                </div>
            </div>
            </section>
            
          </main>
          <footer class="footer">
            <div class="conteiner">
                
             <div class="footer_wrapper">
                
                <div>
                <h2 class="footer__title">О ПРОКАТЕ</h2>
               <ul class="footer__info">
                <li class="footer__info_text">Dress me это прокат платьев и аксессуаров для фотосессий и мероприятий</li>
                <li class="footer__info_text">НАМ 6 ЛЕТ</li>
                <li class="footer__info_text">ГРАФИК РАБОТЫ: по записи с 11:00 до 19:30</li>
                <li class="footer__info_text">Бесплатная примерка на ул. Горького</li>
                 <li class="footer__info_text"><a class="footer__info_text-link" href="#">Аренда</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" href="#">Примерка</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" href="#">Бронирование</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" href="#">Отзывы</a></li>
               </ul>
                 </div>
                 <div>
                    <h2 class="footer__title">У НАС ЕСТЬ</h2>
               <ul class="footer__info">
                 <li class="footer__info_text"><a class="footer__info_text-link" href="Catalog.html">Более 350 платьев для Тебя</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" target="_blank" href="https://vk.com/market-146634571?section=album_21">Боди, пеньюары и платья для беременных</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" target="_blank" href="https://vk.com/market-146634571?section=album_39">Свадебные платья и будуар для невест</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" target="_blank" href="https://vk.com/market-146634571?section=album_33">Платья большого размера</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" target="_blank" href="https://vk.com/market-146634571?section=album_4">Винтажные и карнавальные костюмы</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" target="_blank" href="https://vk.com/market-146634571?section=album_35">Шикарные короны,серьги и авторские аксессуары</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" target="_blank" href="https://vk.com/market-146634571?section=album_36">Элегантные шляпки и перчатки</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" target="_blank" href="https://vk.com/market-146634571?section=album_7">Фемели луки и детские платья</a></li>
                <li class="footer__info_text"><a class="footer__info_text-link" target="_blank" href="https://vk.com/market-146634571?section=album_5">Свитера, плащи. пиджаки</a></li>
               </ul>
              </div>
             </div>
            </div>
        </footer>
            <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
            <script src="../js/app.js"></script>
    </body>
</html>